
.btn-underline {
    text-decoration: underline; /* Menambahkan garis bawah */
    color: black; /* Warna teks hitam */
  }

  .btn-underline:hover {
    color: rgb(24, 146, 0); /* Warna hijau saat hover */
  }